<div class="container">
    <div class="row">
        <div class="col">
            <h1>Movie List</h1>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <p id="tagline">Add movies down below to your movie list, then press the button to move them to your watched list!</p>
        </div>
    </div>
    <div class="row">

        {{!-- Column of unwatched movies --}}
        <div class="col">
            <h2>Movies to Watch</h2>
            <ul>
                {{#each movies}}
                {{#unless watched}}

                <div class="row">
                    <div class="col">
                        <li data-movieId="{{this.id}}">{{ movie_name }}</li>
                    </div>
                    <div class="col">
                        <button data-id="{{this.id}}" class="watchMovie">Watch movie!</button>
                    </div>
                </div>
                {{/unless}}
                {{/each}}
            </ul>
        </div>

        {{!-- Column of watched movies --}}
        <div class="col">
            <h2>Watched Movies</h2>
            <ul>
                {{#each movies}}
                {{#if watched}}

                <div class="row">
                    <div class="col">
                        <li>{{ movie_name }}</li>
                    </div>
                    <div class="col">
                        <button data-id="{{this.id}}" class="unwatchMovie">Unwatch Movie!</button>
                    </div>
                </div>

                {{/if}}
                {{/each}}
            </ul>

        </div>
    </div>

    {{!-- row to add a movie --}}
    <div class="row" id="addMovie">
        <div class="col">
            <h2>Add a Movie</h2>
        </div>
    </div>
    <form>
        <div class="row">
            <div class="col">
                <input id="newTitle" type="text">
                <button class="btn btn-success" type="submit">Add Movie</button>
            </div>
        </div>
    </form>

</div>